<div style="width:500px;">
	<%= form_tag  scrapper_index_path, method: :post  do |f| %>
	  <label>Enter Profile URL: </label>
	  <%= text_field_tag "url", "", style: 'width:490px;' %>
	  <%= submit_tag "Save" %>
	<% end %>

	<%- if File.exist?("#{Rails.root}/profiles/linkedin-profiles.xlsx") && current_user.present? %>
		<%= link_to "Download", download_excel_scrapper_index_path, style: 'float:right;padding-top:-10px !important;' %>
		<br/><br/>
		<%= link_to "Delete File", delete_file_scrapper_index_path, method: :post, style: 'float:right;padding-top:-10px !important;' %>
	<%- end %>

	<%- if current_user.present? %>
		</br></br>
		<%= link_to "Sign Out", destroy_user_session_path, method: :delete, style: 'float:right' %>
	<%- end %>
</div>